################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/nursinghome/FileContentIndex
/.vs/nursinghome/v17
/.vs
